<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		About
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						10 YEARS OF CONTINUOUS CHALLENGE 50 YEARS TO PERFECTION
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Founded in 2015, ZeusSpec has grown to become a premier source for Apple gadgets, accessories, and expertise. Located in Ernakulam, we are a dedicated team of Apple enthusiasts who believe in the transformative power of technology to enhance our daily lives.


						Our mission is simple: to provide the latest Apple products and personalized service to our customers. We aim to make technology accessible and understandable, whether you're a tech-savvy enthusiast or new to the Apple ecosystem.


						As we look to the future, ZeusSpec is excited to continue bringing the latest Apple innovations to our customers, along with expanding our services to include more personalized tech support, educational workshops, and community events. We are committed to being at the forefront of technology, helping you navigate the ever-evolving world of Apple products.
					</p>



					<p class="stext-113 cl6 p-b-26">
						Any questions? Let us know in store at ZeusSpec <br> 8th floor,MG Road,<br> Ernakulam,<br> 682304,<br> Kerala,<br> India  or call us
						on (+91) 8848051266
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="assets/images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						VISION
					</h3>

					<p class="stext-113 cl6 p-b-26">

					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							Creativity is just connecting things. When you ask creative people how they did something,
							they feel a little guilty because they didn't really do it, they just saw something. It
							seemed obvious to them after a while.
						</p>

						<span class="stext-111 cl8">
							- Steve Job’s
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="assets/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>